@tailwind base;
@tailwind components;
@tailwind utilities;



.text-drawer-style {
    text-transform: uppercase;
    font-family: VogueAvantGarde, helvetica, sans-serif;
    letter-spacing: 0.114286em;
    line-height: 1.43em;
    font-size: 14px;
    font-weight: 600;
    overflow-wrap: normal;
    margin-top: 20px;
    
}
#body::-webkit-scrollbar-track {
  display: none; /* For Chrome, Safari, and Opera */
}
.no-scroll {
  overflow: hidden;
  position: relative;
  height: 100vh; /* Make sure it takes the full height */
}
